# <center> Hotel Bookings Data Analytics & Visualization

### Task 1. Importing Libraries
- Import Data
- Get the shape of data
- Display first 5 rows of data
- Get the columns of data
- Convert 'reservation_status_date' to datetime with '%Y-%m-%d' format

In [2]:
# Importing Libraries

import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.offline as pyo
import plotly.express as px
import plotly
import re 
import seaborn as sns
import pycountry as pc
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
print('modules are imported')

pd.options.display.max_columns = None



# Set maximum columns to be display in datafram as 36

# Set charts style as 'seaborn'

modules are imported

### Import Data

In [27]:
data = pd.read_csv('hotel_bookings.csv')

data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015

### Get the Shape of Data

In [8]:
data.shape

(119390, 32)

### Display first 5 rows of data

In [10]:
import pandas as pd
pd.options.display.max_rows = 5
df = pd.read_csv('hotel_bookings.csv')
print(df)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
...              ...          ...        ...                ...
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
...                   ...                       ...
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
...                           ...                      ...
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  children  babies meal country  \
0                          0       2       0.0       0   BB     PRT
1                          0       2       0.0       0   BB     PRT
...                      ...     ...       ...     ...  ...     ...
119388                     5       2       0.0       0   BB     GBR
119389                     7       2       0.0       0   HB     DEU

       market_segment distribution_channel  is_repeated_guest  \
0              Direct               Direct                  0
1              Direct               Direct                  0
...               ...                  ...                ...
119388      Online TA                TA/TO                  0
119389      Online TA                TA/TO                  0

        previous_cancellations  previous_bookings_not_canceled  \
0                            0                               0
1                            0                               0
...                        ...                             ...
119388                       0                               0
119389                       0                               0

       reserved_room_type assigned_room_type  booking_changes deposit_type  \
0                       C                  C                3   No Deposit
1                       C                  C                4   No Deposit
...                   ...                ...              ...          ...
119388                  A                  A                0   No Deposit
119389                  A                  A                0   No Deposit

        agent  company  days_in_waiting_list customer_type    adr  \
0         NaN      NaN                     0     Transient    0.0
1         NaN      NaN                     0     Transient    0.0
...       ...      ...                   ...           ...    ...
119388   89.0      NaN                     0     Transient  104.4
119389    9.0      NaN                     0     Transient  151.2

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
...                             ...                        ...
119388                            0                          0
119389                            0                          2

       reservation_status reservation_status_date
0               Check-Out              01-07-2015
1               Check-Out              01-07-2015
...                   ...                     ...
119388          Check-Out              07-09-2017
119389          Check-Out              07-09-2017

[119390 rows x 32 columns]

### Get the columns of data

In [32]:
cols=list(data.columns)
print(cols)

['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

### Task 2

### get the duplicate data

In [14]:
duplicate = df[df.duplicated()]
duplicate

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03-07-2015
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,1,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,07-07-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119354,City Hotel,0,63,2017,August,35,31,0,3,3,0.0,0,BB,SWE,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,03-09-2017
119373,City Hotel,0,175,2017,August,35,31,1,3,1,0.0,0,BB,NLD,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,04-09-2017

### drop the duplicate data

In [15]:
df2 = df.drop_duplicates(keep=False)
print(df2)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
...              ...          ...        ...                ...
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
...                   ...                       ...
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
...                           ...                      ...
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  children  babies meal country  \
0                          0       2       0.0       0   BB     PRT
1                          0       2       0.0       0   BB     PRT
...                      ...     ...       ...     ...  ...     ...
119388                     5       2       0.0       0   BB     GBR
119389                     7       2       0.0       0   HB     DEU

       market_segment distribution_channel  is_repeated_guest  \
0              Direct               Direct                  0
1              Direct               Direct                  0
...               ...                  ...                ...
119388      Online TA                TA/TO                  0
119389      Online TA                TA/TO                  0

        previous_cancellations  previous_bookings_not_canceled  \
0                            0                               0
1                            0                               0
...                        ...                             ...
119388                       0                               0
119389                       0                               0

       reserved_room_type assigned_room_type  booking_changes deposit_type  \
0                       C                  C                3   No Deposit
1                       C                  C                4   No Deposit
...                   ...                ...              ...          ...
119388                  A                  A                0   No Deposit
119389                  A                  A                0   No Deposit

        agent  company  days_in_waiting_list customer_type    adr  \
0         NaN      NaN                     0     Transient    0.0
1         NaN      NaN                     0     Transient    0.0
...       ...      ...                   ...           ...    ...
119388   89.0      NaN                     0     Transient  104.4
119389    9.0      NaN                     0     Transient  151.2

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
...                             ...                        ...
119388                            0                          0
119389                            0                          2

       reservation_status reservation_status_date
0               Check-Out              01-07-2015
1               Check-Out              01-07-2015
...                   ...                     ...
119388          Check-Out              07-09-2017
119389          Check-Out              07-09-2017

[79225 rows x 32 columns]

### Check empty / missing values

In [24]:
df.isnull().sum().sort_values(ascending=False)[:10]

company                   112593
agent                      16340
                           ...
hotel                          0
previous_cancellations         0
Length: 10, dtype: int64

### Fill missing and empty values

In [29]:
# If no id of agent or company is null, just replace it with 0
df[['agent','company']] = df[['agent','company']].fillna(0.0)

## For the missing values in the country column, replace it with mode (value that appears most often)
df['country'].fillna(data.country.mode().to_string(), inplace=True)

## for missing children value, replace it with rounded mean value
df['children'].fillna(round(data.children.mean()), inplace=True)

# Drop Rows where there is no adult, baby and child
df = df.drop(df[(df.adults+df.babies+df.children)==0].index)

# Converting float to interger 
df[['children', 'company', 'agent']] = df[['children', 'company', 'agent']].astype('int64')

### Task 3

In [ ]:
# Enlarging the pie chart
plt.rcParams['figure.figsize'] = 8,8

# Indexing labels. tolist() will convert the index to list for easy manipulation
labels = hotel['hotel'].value_counts().index.tolist()

# Convert value counts to list
sizes = hotel['hotel'].value_counts().tolist()

# As the name suggest, explode will determine how much each section is separated from each other 
explode = (0, 0.1)

# Determine colour of pie chart
colors = ['yellowgreen', 'lightcoral']

plt.pie(sizes, explode=explode, labels=labels, colors=colors, autopct='%1.1f%%',startangle=90, textprops={'fontsize': 14})
plt.show()